@import models.Product
@(products: Seq[Product])

@main("Welcome to Play") {
  <div class="f">
    <header class="header">
      <a href="" class="logo">Bull Eye</a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="#about" class="color-a">Sobre</a></li>
        <li><a href="#products" class="color-a">Produtos</a></li>
        <li><a href="#fat" class="color-a">Histórico</a></li>
        <li><a href="#contact" class="color-a">Contato</a></li>
      </ul>
    </header>
    <div class="bg-1" id="about">
      <div class="container about">
        <div class="row">
          <div class="col-sm test">
            <img src="@routes.Assets.versioned("images/bull-512.png")" height="400" class="mob-img" />
          </div>
          <div class="col-sm">
            <h1>Bullseye</h1>
            Visualize todos investimentos de maneira rápida e em apenas um App.
            Com o Bull Eye você pode ver como andam as suas ações, criptomoedas 
            e outros tipos de investimentos.
          </div>
        </div>
      </div>
    </div>
    <div class="bg-2" id="products">
      <div class="container about">
        <div class="col">
          <h1>Funcionalidades</h1>
          <div class="container ov-scroll">
            <div class="row">
              @for( i <- 0 to (products.length - 1)) {
                <div class="col-sm">
                    <div class="row-sm">
                      <img src="@routes.Assets.versioned(products(i).url)" height="200"/>
                    </div>
                    <div class="row-sm">
                      <h4>@products(i).name</h4>
                    </div>
                    <div class="row-sm text-box">
                      @products(i).description
                    </div>
                  </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-3" id="fat">
      <div class="container about">
        <div class="col">
          <div class="row title-black">
            <h1>Histórico</h1>
          </div>
          <div class="row">
            <canvas id="myChart" width="1600" height="900"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-4" id="products">
      <div class="container about">
        <div class="row footer" >
          <div class="col text-box">
            <h3>Contato</h3>
          </div>
          <div class="col ">
            <div>(81) 91234-5678</div>
            <div>contato@@bulls.eye</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
}
